
*.ipch
*.opendb
*.db-wal
*.db-shm
*.db
SampleDirectXProject/.vs/SampleDirectXProject/v16/.suo
*.pdb
*.idb
*.ilk
*.recipe
*.exe
*.lastbuildstate
*.tlog
*.txt
*.log
*.filters
SampleDirectXProject/x64/Debug/
SampleDirectXProject/Debug/
